:root {
    --alma: #C61000;
}
/* Here goes all the styles to customize generic used bootstrap elements */
.navbar {
    color: white;
    background-color: var(--alma);
    font-weight: bold;
    padding-left: 0.35em;
    padding-right: 0;
}
.nav-link {
    color: white;
    font-size: 1.5em;
    padding: 1em 0.5em;
    display: inline;
}
.nav-link:hover, .active {
    background-color: white;
    color: var(--alma);
}
.nav-link span {
    display: none;
}
@media only screen and (min-width: 768px) {
    .navbar {
        padding: 0 0.75em;
    }
    .navbar i {
        margin: 0 0.25em;
    }
    .navbar li {
        padding: 1em 0;
    }
    .nav-link {
        font-size: 1.25em;
        padding: 1em;
    }
    .nav-link span {
        display: inline-block;
    }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, 
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-color: var(--alma);
}