/* Notifications */
.notifications {
    position: relative;
    padding: 0;
    list-style: none;
}

.notifications ul {
    list-style-type: disc;
}

.notifications>li:after,
.notifications>li:before {
    display: table;
    content: ' ';
}

.notifications>li:after {
    clear: both;
}

.notifications>li .notification-panel {
    position: relative;
    float: right;
    width: 100%;
    padding-left: 60px;
    text-align: left;
}

.notifications>li .notification-image {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--info);
}