.nav-link {
    display: inline;
}

/* Notifications */
.notifications {
    position: relative;
    padding: 0;
    list-style: none;
}

.notification-panel {
    margin: 1em auto;
}

.notifications ul {
    list-style-type: disc;
}

.notifications>li:after,
.notifications>li:before {
    display: table;
    content: ' ';
}

.notifications>li:after {
    clear: both;
}

.notifications>li .notification-panel {
    position: relative;
    float: right;
    width: 100%;
    text-align: left;
}