ul, ol {
    list-style: none;
}
a:hover {
    text-decoration: none;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}
/* Any big enough value can do the trick */
.rounded-borders {
    border-radius: 100rem;
}
.squared-borders {
    padding: 0.2rem;
    border-radius: 0.4rem;
    border: 0.075rem solid;
}
.fa-sad-cry, .fa-frown {
    color: var(--danger);
}
.fa-meh {
    color: var(--warning);
}
.fa-smile, .fa-grin-hearts {
    color: var(--success);
}