:root {
  --alma: #C61000;
  --cloth: rgb(226, 126, 44);
  --cloth-shadow: rgba(226, 126, 44, 0.5);
  --light-grey: #efefef;
  --dark-grey: #606060;
  --silver: #c0c0c0;
}

body {
	background-color: var(--light-grey);
}

/* Position */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Links */
a {
  color: var(--alma);
}
a:hover {
  color: var(--alma);
  text-decoration: none;
}

/* Buttons */
.btn-alma, .btn-outline-alma {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.75rem 0.5rem;
  border: 0.15rem solid var(--alma);
}
.btn-alma {
  color: var(--light-grey);
  background-color: var(--alma);
}
.btn-alma:hover {
  color: var(--alma);
  background-color: var(--light-grey);
}
.btn-outline-alma {
  color: var(--alma);
  background-color: var(--light-grey);
}
.btn-outline-alma:hover {
  color: var(--light-grey);
  background-color: var(--alma);
}

/* Checkbox */
.custom-control-input:checked ~ .custom-control-label::before, 
.custom-control-input:checked ~ .custom-control-label::after {
  background-color: var(--alma);
}

/* Range */
input[type=range] {
}
input[type=range]:focus {
  outline: none;
}
/* la sbarretta del cazzo su chrome */
input[type=range]::-webkit-slider-runnable-track {
}
/* il cazzo de pallino indicatore su chrome */
input[type=range]::-webkit-slider-thumb {
}
/* la sbarretta del cazzo su mozilla */
input[type=range]::-moz-range-track {
}
/* il cazzo de pallino indicatore su mozilla */
input[type=range]::-moz-range-thumb {
}

/* Lists */
ul, ol {
  list-style: none;
}

/* Visibility */
.disabled {
  opacity: 0.6;
  cursor: not-allowed !important;
}
