html, body {
    height: 100%;
}
body {
    background: #efefef;
    background-image: linear-gradient(90deg, transparent 50%, var(--cloth-shadow) 0),
                      linear-gradient(transparent 50%, var(--cloth-shadow) 0);
    background-size: 6.75vw 6.75vw;
}

/* Table */
.logo {
    width: 34vw;
    height: 34vw;
}
.plate {
    width: 35vw;
    height: 35vw;
    background-color: var(--light-grey);
    box-shadow: inset 0 0 10px var(--dark-grey);
}
.fork, .knife {
    height: 30vw;
    position: absolute;
    fill: var(--silver);
    stroke: var(--dark-grey);
}
.fork {
    stroke-width: 0.2px;
    left: 27.5%;
}
.knife {
    stroke-width: 0.2px;
    left: 72.5%;
}

/* Carousel */
.carousel, .carousel-inner, .carousel-item {
    height: 100%;
}
.carousel-control {
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
    text-align: center;
}
.carousel-control .fa-chevron-left {
    margin-right: 0.25rem;
}
.carousel-control .fa-chevron-right {
    margin-left: 0.25rem;
}

/* Registration Form */
input[name="userRole"] {
	width: 0;
	height: 0;
}
input[name="userRole"]:hover + label {
	cursor: pointer;
}
input[name="userRole"]:checked + label {
    color: var(--alma);
}
input[name="userRole"] + label {
    padding: 0.45rem;
}

.form-control, .btn, .user-role {
    margin: 0.5rem auto;
}

/* TOFIX: Media Queries */
@media only screen and (max-width: 992px) {
    .knife, .fork {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-control-prev, .carousel-control-next {
        display: none;
    }
}
