html, body {
    height: 100%;
}
body {
    background: #efefef;
    background-image: linear-gradient(90deg, transparent 50%, rgba(226, 126, 44, .5) 0),
                      linear-gradient(transparent 50%, rgba(226, 126, 44, 0.5) 0);
    background-size: 6.75vw 6.75vw;
}
.logo {
    width: 34vw;
    height: 34vw;
}
.plate {
    width: 35vw;
    height: 35vw;
    background-color: #efefef;
    box-shadow: inset 0 0 10px #606060;
}
.fork, .knife {
    height: 30vw;
    position: absolute;
    fill: #C0C0C0;
    stroke: #606060;
}
.fork {
    stroke-width: 0.2px;
    left: 27.5%;
}
.knife {
    stroke-width: 0.2px;
    left: 72.5%;
}

/* Carousel */
.carousel, .carousel-inner, .carousel-item {
    height: 100%;
}
.carousel-control {
    position: absolute;
    width: 100%;
    bottom: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
}
.carousel-control-container {
    background-color: #C61000;
    border-radius: 2rem;
    padding: 0;
    display: inline-block;
    color: white;
    vertical-align: middle;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    font-weight: bold;
    border: 0.2rem solid var(--alma);
}
.carousel-control-container:hover {
    color: var(--alma);
    background-color: #efefef;
}
.carousel-control-container > .fa-chevron-left {
    margin-right: 0.25rem;
}
.carousel-control-container > .fa-chevron-right {
    margin-left: 0.25rem;
}

/* Registration Form */
input[name="userRole"] {
	width: 0;
	height: 0;
}
input[name="userRole"]:hover + label {
	cursor: pointer;
}
input[name="userRole"]:checked + label {
    color: var(--alma);
}
input[name="userRole"] + label {
    padding: 0.45rem;
}

/* Media Queries */
@media only screen and (max-width: 992px) {
    .knife, .fork {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .carousel-control-prev, .carousel-control-next {
        display: none;
    }
}

.form-control, .btn, .user-role {
    margin: 0.5rem auto;
}