:root {
    --logo-size: 74vw;
}

html, body, .carousel, .carousel-inner, .carousel-item {
    height: 100%;
}

/* Table */
.logo, .plate, .fork, .knife {
    z-index: 1;
    top: 45%;
}
.fork, .knife {
    display: none;
}
.logo {
    width: var(--logo-size);
    height: var(--logo-size);
}
.plate {
    width: calc(var(--logo-size) + 1vw);
    height: calc(var(--logo-size) + 1vw);
    background-color: var(--light-grey);
    box-shadow: inset 0 0 10px var(--dark-grey);
}

/* Carousel */
.carousel {
    background: linear-gradient(90deg, transparent 50%, var(--cloth-shadow) 0),
                linear-gradient(transparent 50%, var(--cloth-shadow) 0);
    background-size: calc(var(--logo-size)/5) calc(var(--logo-size)/5);
}
.carousel-item {
    z-index: 1;
}
.carousel-item .card {
    background-color: var(--light-grey);
}
.carousel-control {
    z-index: 2;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.carousel-control .fa-chevron-left {
    margin-right: 0.25rem;
}
.carousel-control .fa-chevron-right {
    margin-left: 0.25rem;
}

/* Registration Form */
input[name="userRole"] {
	display: none;
}
input[name="userRole"]:hover + label {
	cursor: pointer;
}
input[name="userRole"]:checked + label {
    color: var(--alma);
}
input[name="userRole"] + label {
    padding: 0.45rem;
    margin-top: -0.25rem;
    margin-bottom: 0; 
}

.form-group {
    margin-bottom: 0.75rem;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
    :root {
        --logo-size: 60vw;
    }
}

@media only screen and (min-width: 992px) {
    :root {
        --logo-size: 42vw;
    }
    .knife, .fork {
        display: block;
        height: calc(var(--logo-size) - 5vw);
        position: absolute;
        fill: var(--silver);
        stroke: var(--dark-grey);
        stroke-width: 0.2px;
    }
    .fork {
        left: 22.5%
    }
    .knife {
        left: 77.5%;
    }
    .carousel-control {
        bottom: 2.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    :root {
        --logo-size: 34vw;
    }
    .fork {
        left: 27.5%
    }
    .knife {
        left: 72.5%;
    }
}