.instance-categories .card {
	margin: 2rem auto;
}
.instance-categories .card-header {
	background-color: var(--alma);
	color:var(--light-grey);
}
.menu-plate {
	border-bottom: 0.1rem solid var(--light-grey);
}
.menu-plate:last-child {
	border-bottom: none;
}
.menu-plate {
	padding: 1rem 0 0;
}
.menu-plate h5 {
	color: black;
}
.menu-plate i {
	padding: 0 0.25rem;
	color: var(--alma);
}
.fa-edit, .fa-trash {
	font-size: 1.5em;
}
.menu-plate .d-inline {
	margin-right: 0.5rem;
}

.card-body {
	color: var(--dark-grey);
	padding-top: 0;
	padding-bottom: 0;
}
