.menu-plate {
	padding: 1rem 0 0;
	border-bottom: 0.1rem solid #efefef;
}
.menu-plate:last-child {
	border-bottom: none;
}
.menu-plate i {
	font-size: 1.5em;
	padding: 0 0.25rem;
}
.card-body {
	padding-top: 0;
	padding-bottom: 0;
}
.btn {
	font-size: 1.25rem;
	margin-top: 1.5rem;
	padding: 1rem;
}