.template-categories {
	margin: 2rem auto;
}
.template-categories.card-header {
	background-color: var(--alma);
	color:var(--light-grey);
}
.template-dishes {
	border-bottom: 0.1rem solid var(--light-grey);
}
.template-dishes:last-child {
	border-bottom: none;
}
.template-dishes {
	padding: 1rem 0 0;
}
.template-dishes h5 {
	color: black;
}
.template-dishes i {
	padding: 0 0.25rem;
	color: var(--alma);
}
.fa-edit, .fa-trash {
	font-size: 1.5em;
}
.template-dishes .d-inline {
	margin-right: 0.5rem;
}

.card-body {
	color: var(--dark-grey);
	padding-top: 0;
	padding-bottom: 0;
}