body {
	background-color: #efefef;
}

.form-search {
	margin: 2rem auto;
	padding: 1.5rem 1rem;
}
.form-search + i {
	position: absolute;
    right: 2.25rem;
	bottom: 1.15rem;
	color: #606060;
}

.badge-category {
	font-size: 0.75rem;
	color: white;
	background-color: rgba(226, 126, 44);
}

.supplier {
	background-color: white;
	box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1);
	margin: 2rem auto;
	padding: 1rem 1.5rem;
}

.filter {
	margin-top: 2rem;
}

.category-filter {
	border-radius: 0.25rem;
	padding: 1rem;
	margin: 0.5rem 0;
	background-color: white;
}

.filters .fas {
	font-size: 1.5rem;
}