.filter {
	margin-top: 2rem;
}
.filter > .btn-alma:hover {
	cursor: pointer;
}
.filter > div {
	font-size: 1.25rem;
	border-radius: 0.25rem;
	padding: 1rem;
	margin: 0.5rem 0;
	background-color: #ffffff;
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::after {
  background-color: var(--alma);
}

.instance-restaurant-categories {
	text-align: left;
}
.vendor {
	background-color: #ffffff;
	margin: 2rem auto;
	padding: 0.5rem 0;
}
.vendor:hover {
	cursor: pointer;
}

.badge {
	font-size: 0.75rem;
	margin: 0.125rem;
}
.badge-category {
	font-size: 0.75rem;
	color: #ffffff;
	background-color: var(--cloth);
}

@media only screen and (min-width: 576px) {
	.badge {
		font-size: 1.1rem;
		margin: 0.25rem;
	}	
}